appPort = 7006
DB_HOST = host.docker.internal
DB_PORT = 6007
DB_USER = dbRoot
DB_PASSWORD = 123456
DB_NAME = assessmentDb

MONGO_URL=mongodb://host.docker.internal:37017/examdb

MONGO_INITDB_DATABASE = examdb
MONGODB_PORT = 37017

REDIS_HOST = host.docker.internal
REDIS_PORT = 7379
REDIS_PASSWORD = 

BullBoard_Name = admin
BullBoard_Password = assess205

API_BASE_URL = https://taxes.free.beeceptor.com

JWT_SECRET = wNGItYjY2Yi0yMDcxYjkxMTgyY2MiLCJlbWFpbCI6In
JWT_ISSUER = LomabankApp
JWT_AUDIENCE = LomabankApp Customers
JWT_EXPIRY = 6400s
